@model Bug
@{
    ViewData["Title"] = "Edit Bug";
}

<div class="card w-75" style="margin: 0 auto">
    <div class="card-header">Edit Bug</div>
    <div class="card-body">
        <form method="post" asp-action="EditPOST" class="col-8 mx-auto">
            <input asp-for="BugId" value="@Model.BugId" hidden />
            <div class="mb-3">
                <label asp-for="BugName">Bug Name: </label>
                <input asp-for="BugName" type="text" name="bugName"
                    class="form-control" placeholder="Enter Bug Name"
                />
            </div>

            <div class="mb-3">
                <label asp-for="Type">Type: </label>
                <select asp-for="Type" class="form-control">
                    <option value="Bug">Bug</option>
                    <option value="Task">Task</option>
                    <option value="Feature">Feature</option>
                </select>
            </div>

            <div class="mb-3">
                <label asp-for="Description">Description: </label>
                <textarea asp-for="Description" name="description"
                    class="form-control" placeholder="Enter Description"
                ></textarea>
            </div>

            <div class="mb-3">
                <label asp-for="Priority">Priority: </label>
                <select asp-for="Priority" class="form-control">
                    <option value="Low">Low</option>
                    <option value="Med">Med</option>
                    <option value="High">High</option>
                </select>
            </div>

            <div class="mb-3">
                <label asp-for="Status">Status: </label>
                <select asp-for="Status" class="form-control">
                    <option value="Unassigned">Unassigned</option>
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="QA">QA</option>
                    <option value="Complete">Complete</option>
                </select>
            </div>

            @*<div class='mb-3'>
                <label>Assginee: (Optional)</label>
                <input type="text" name="bugName"
                    class="form-control" placeholder=""
                />
            </div>*@

            <input asp-for="AssigneeId" value="@Model.AssigneeId" hidden />
            <input asp-for="ReporterId" value="@Model.ReporterId" hidden />

            <button type="submit" class="btn btn-primary">
                <i class="bi bi-save"></i> Save
            </button>

            <a asp-controller="Bug" asp-action="Index" class="btn-secondary btn">
                <i class="bi bi-arrow-return-left"></i> Back
            </a>
        </form>
    </div>
</div>