@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="masthead" style="height: 80vh; display: grid; place-items: center">
        <div class="d-flex mb-5 flex-column" style="z-index: 1100;">
            <h1 class="mx-auto" >Bug Tracker</h1>
            <p class="mx-auto">Track All Of Your Bugs And Tasks Here!</p>
            <div class="mx-auto">
                <button type="button" class="btn btn-primary btn-lg">Sign Up</button>
            </div>
        </div>
    </div>
    <section class="features-icons bg-light text-center pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="mx-auto mb-2"><i class="bi bi-file-earmark-plus" style="font-size: 5rem;"></i></div>
                        <h3>Create</h3>
                        <p class="lead mb-0">Create and Catalog your Bugs, Tasks, or Features</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="mx-auto mb-2"><i class="bi bi-card-checklist" style="font-size: 5rem;"></i></div>
                        <h3>Maintain</h3>
                        <p class="lead mb-0">Track and Save the progress of your bug through 5 development stages</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="mx-auto mb-2"><i class="bi bi-person-circle" style="font-size: 5rem;"></i></div>
                        <h3>Quick Start</h3>
                        <p class="lead mb-0">Create an account and your ready to start!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container" id="Soon">
        <div class="d-flex mt-5 mb-5 flex-column">
            <h1 class="mx-auto">Features Coming Soon</h1>
            <p class="mx-auto">Here are some features we're working on: </p>
            <ul class="mx-auto list-group list-group-flush">
                <li class="list-group-item">User Account Features</li>
                <li class="list-group-item">Password Reset</li>
                <li class="list-group-item">Groups to code with your team/company</li>
                <li class="list-group-item">Due Dates</li>
                <li class="list-group-item">Email Noifications</li>
            </ul>
        </div>
    </section>
</div>
