@{
    ViewData["Title"] = "Auth";
}

<div class="container mt-5">
    <div class="row justify-content-around">
        <div class="col-5">
            <h2>Login</h2>
            <form id="login">
                <div class="mb-3">
                    <label for="username">Username: </label>
                    <input type="text" name="username" class="form-control" 
                    placeholder="Enter Username"
                    />
                </div>

                <div class="mb-3">
                    <label for="password">Password: </label>
                    <input type="password" name="password"
                        class="form-control" placeholder="Enter Password"
                        minLength={5} required
                    />
                </div>

                <input class="btn btn-primary" type="submit" value="Login" />
            </form>
        </div>
        <div class="col-5">
            <h2>Create A New Account</h2>
            <form id="register">
                <div class="mb-3">
                    <label for="username">Username: </label>
                    <input type="text" name="username"
                        class="form-control" placeholder="Enter Username"
                    />
                </div>

                <div class="mb-2"> 
                    <label for="password">Password: </label>
                    <input type="password"  name="password"
                        class="form-control" placeholder="Enter Password"
                        minLength={5} required
                    />

                    <span id="passwordHelpInline" class="form-text">
                        Must at least 5 characters long
                    </span>
                </div>
                
                <div>
                    <div class="mb-3">
                        <label for="email">Email: </label>
                        <input type="email" name="email" class="form-control" 
                            placeholder="Enter Email"
                        />
                    </div>
                   
                    <div class="mb-2">
                        <label for="company">Company Code (Optional):</label>
                        <input type="number" name="company" class="form-control"
                            placeholder="Enter Company Code" />
                    </div>
                </div>

                <input class="btn btn-primary" type="submit" value="Register" />
            </form>
        </div>
    </div>
</div>